<% if model.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<ul>
		<h2><%= model.errors.count %>件のエラー(error)が発生しました。</h2>
		<% model.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>